<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	
</head>

<body>
	<section class="gallery">



		<div class="box-container">

			<div class="box">
				<img src="resources/photo1.jpeg">
				<div class="content">
					<h4>PRESIDENTIAL SUITE</h4>
					<p>Amenities:airport transfer, air conditioning, pool,free wifi and packing, gym amenities </p>
					<a href="#" class="btn">see more</a>
				</div>
			</div>

			<div class="box">
				<img src="resources/photo2.jpeg">
				<div class="content">
					<h4>PRESIDENTIAL SUITE</h4>
					<p>Food and drink:Restaurant, Bar/lounge, Coffee/tea in a common area, Free daily reception, Room
						service (limited hours), Snack bar/deli </p>
					<a href="#" class="btn">see more</a>
				</div>
			</div>

			<div class="box">
				<img src="resources/photo3.jpeg">
				<div class="content">
					<h4>PREMIUM SUITE</h4>
					<p>Amenities:airport transfer, air conditioning, pool,free wifi and packing, gym amenities </p>
					<a href="#" class="btn">see more</a>
				</div>
			</div>

			<div class="box">
				<img src="resources/photo4.jpeg">
				<div class="content">
					<h4>PREMIUM SUITE</h4>
					<p>Food and drink:Restaurant, Bar/lounge, Coffee/tea in a common area, Free daily reception, Room
						service (limited hours), Snack bar/deli </p>
					<a href="#" class="btn">see more</a>
				</div>
			</div>

			<div class="box">
				<img src="resources/photo5.jpeg">
				<div class="content">
					<h4>PALATIAL SUITE</h4>
					<p>Amenities:airport transfer, air conditioning, pool,free wifi and packing, gym amenities </p>
					<a href="#" class="btn">see more</a>
				</div>
			</div>

			<div class="box">
				<img src="resources/photo6.jpeg">
				<div class="content">
					<h4>PALATIAL SUITE</h4>
					<p>Food and drink:Restaurant, Bar/lounge, Coffee/tea in a common area, Free daily reception, Room
						service (limited hours), Snack bar/deli </p>
					<a href="#" class="btn">see more</a>
				</div>
			</div>



		</div>
	</section>


	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<!-- custom js file link  -->
	<script src="js/script.js"></script>
</body>

</html>
