<ng-container *ngIf="display">
    <button (click)="viewRooms(hotel.id)">View Rooms</button>
    <div>
        <p>{{hotel.name}}</p>
        <p>{{hotel.town}}</p>
        <p>{{hotel.latitude}}</p>
        <p>{{hotel.longitude}}</p>
        <p>{{hotel.rating}}</p>
        <p>{{hotel.imageUrl}}</p>
        <img src="{{hotel.imageUrl}}" alt="Hotel Image">
        <p>Owned By: {{hotel.user.firstName}} {{hotel.user.lastName}}</p>
        <!-- <form #roleForm="ngForm" (ngSubmit)="addRoleToUser(roleForm)">
            <input type="hidden" value={{user.email}} name="email" id="email" ngModel>
            <label>Give Role:</label>
            <select name="role" id="addRole" ngModel>
                <option value="ROLE_HOST">Host</option>
                <option value="ROLE_ADMIN">Admin</option>
            </select>
            <input type="submit" value="Add Role To User">
        </form> -->
    </div>
</ng-container>