<div class="container mt-5">
    <div *ngIf="apiLoaded && mapNeeded">
        <google-map height="600px" width="600px" [center]="center" [zoom]="zoom" [options]="options"
            (mapClick)="addMarker($event)">
            <map-marker *ngFor="let marker of markers" [position]="marker" [options]="markerOptions"></map-marker>
        </google-map>
        <button (click)="closeMap()">Close Map</button>
    </div>
    <div>
        <button *ngIf="!mapNeeded" (click)="openMap()">Open Map</button>
        <p>Latitude: {{latitude}}</p>
        <p>Longitude: {{longitude}}</p>
    </div>

    <div class="card text-center">
        <form #hotelForm="ngForm" (ngSubmit)="upload(hotelForm)">
            <input type="text" name="name" id="name" ngModel placeholder="Hotel name">
            <input type="text" name="town" id="town" ngModel placeholder="Town name">
            <label>Image of Hotel</label>
            <label>
                <input type="file" (change)="selectFile($event)">
            </label>
            <br>
            <button type="submit" [disabled]="!selectedFiles || !selectedMarkers">Add Hotel</button>
        </form>
    </div>
    <br>

</div>