<div class="login-form-container">

    <i class="fas fa-times" id="form-close"></i>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <input type="email" class="form-control mb-3" name="email" id="email" ngModel placeholder=" Enter your Email">
            <input type="password" class="form-control mb-3" name="password" id="password" ngModel placeholder="**********">
            <input type="submit" value="Login now" class="btn btn-outline-primary form-control rounded-1">
            <input type="checkbox" id="remember">
            <label for="remember">remember me</label>
            <p>forget password? <a href="#">click here</a></p>
        </form>
        <p>Dont have an Account? <a routerLink="/register">Register</a></p>
    </div>

