<div class="container mt-5">
    <div class="card text-center">
        <h1>Super Admin Page</h1>
        <p>{{message}}</p>
    </div>
    <div>
        <button (click)="getAllUsers()">Find Users</button>
    </div>
    <div>
        <div *ngFor="let user of users">{{user.email}}

            <ul>
                <li *ngFor="let role of user.roles">{{role.name}}</li>
            </ul>
            <button (click)="setUserEmail(user.email!)" >View User</button>
        </div>
    </div>
    <aside>
        <app-view-user [email]="userEmail"></app-view-user>
    </aside>
</div>